<h3>New reckoning</h3>
<div>
    <label>Number:</label>
    <input type="text" id="reckoning.number" name="reckoning.number" class="form-control" required minlength="4" [(ngModel)]="reckoning.number" #number="ngModel">
    <div *ngIf="number.invalid && (number.dirty || number.touched)" class="alert">
        <div *ngIf="number.errors?.required">
            Number is required.
        </div>
        <div *ngIf="number.errors?.minlength">
            Number must be at least 4 characters long.
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <h3> Buyer data:</h3>
        <div class="block">
            <label>Name:</label>
            <input type="text" id="buyer.name" name="buyer.name" class="form-control" required [(ngModel)]="buyer.name" #buyerName="ngModel">
        <div *ngIf="buyerName.invalid && (buyerName.dirty || buyerName.touched)" class="alert">
            <div *ngIf="buyerName.errors?.required">
                Name is required.
            </div>
        </div>   
    </div>
        <div class="block">
            <label>Address:</label>
            <input type="text" id="buyer.address" name="buyer.address" class="form-control" required [(ngModel)]="buyer.address" #buyerAdress="ngModel">
            <div *ngIf="buyerAdress.invalid && (buyerAdress.dirty || buyerAdress.touched)" class="alert">
                <div *ngIf="buyerAdress.errors?.required">
                    Adress is required.
                </div>
            </div>   
        </div>
        <div class="block">
            <label>UUID:</label>
            <input type="text" id="buyer.uuid" name="buyer.uuid" class="form-control" required minlength="36" maxlength="36" [(ngModel)]="buyer.uuid" #buyerUuid="ngModel">
            <div *ngIf="buyerUuid.invalid && (buyerUuid.dirty || buyerUuid.touched)" class="alert">
                <div *ngIf="buyerUuid.errors?.required">
                    UUID is required.
                </div>
                <div *ngIf="buyerUuid.errors?.minlength">
                    UUID must be at 36 characters long.
                </div>
            </div> 
        </div>
    </div>

    <div class="column">
        <h3> Seller data:</h3>
        <div class="block">
            <label>Name:</label>
            <input type="text" id="seller.name" name="seller.name" class="form-control" required [(ngModel)]="seller.name" #sellerName="ngModel">
            <div *ngIf="sellerName.invalid && (sellerName.dirty || sellerName.touched)" class="alert">
                <div *ngIf="sellerName.errors?.required">
                    Name is required.
                </div>
            </div> 
        </div>
        <div class="block">
            <label>Address:</label>
            <input type="text" id="seller.address" name="seller.address" class="form-control" required [(ngModel)]="seller.address" #sellerAddress="ngModel">
            <div *ngIf="sellerAddress.invalid && (sellerAddress.dirty || sellerAddress.touched)" class="alert">
                <div *ngIf="sellerAddress.errors?.required">
                    Address is required.
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="block">
    <div class="block">
        <label>Place of sale:</label>
        <input type="text" id="reckoning.place_of_sale" name="reckoning.place_of_sale" class="form-control" required [(ngModel)]="reckoning.place_of_sale" #place_of_sale="ngModel">
        <div *ngIf="place_of_sale.invalid && (place_of_sale.dirty || place_of_sale.touched)" class="alert">
            <div *ngIf="place_of_sale.errors?.required">
                Place of sale is required.
            </div>
        </div>
    </div>
    <div class="block">
        <label>Date of issue:</label>
        <input type="text" id="reckoning.date_of_issue" name="reckoning.date_of_issue" class="form-control" required minlength="8" [(ngModel)]="reckoning.date_of_issue" #date_of_issue="ngModel">
        <div *ngIf="date_of_issue.invalid && (date_of_issue.dirty || date_of_issue.touched)" class="alert">
            <div *ngIf="date_of_issue.errors?.required">
                Date of issue is required.
            </div>
            <div *ngIf="date_of_issue.errors?.minlength">
                Date of issue must be at least 8 characters long.
            </div>
        </div>
    </div>
    <div class="block">
        <label>Date od payment:</label>
        <input type="text" id="reckoning.date_of_payment" name="reckoning.date_of_payment" class="form-control" required minlength="8" [(ngModel)]="reckoning.date_of_payment" #date_of_payment="ngModel">
        <div *ngIf="date_of_payment.invalid && (date_of_payment.dirty || date_of_payment.touched)" class="alert">
            <div *ngIf="date_of_payment.errors?.required">
                Date od payment is required.
            </div>
            <div *ngIf="date_of_payment.errors?.minlength">
                Date od payment must be at least 8 characters long.
            </div>
        </div>
    </div>
    <div class="block">
        <label>Date sale:</label>
        <input type="text" id="reckoning.date_sale" name="reckoning.date_sale" class="form-control" required minlength="8" [(ngModel)]="reckoning.date_sale" #date_sale="ngModel">
        <div *ngIf="date_sale.invalid && (date_sale.dirty || date_sale.touched)" class="alert">
            <div *ngIf="date_sale.errors?.required">
                Date sale is required.
            </div>
            <div *ngIf="date_sale.errors?.minlength">
                Date sale must be at least 8 characters long.
            </div>
        </div>
    </div>
    <div class="block">
        <label>Status:</label>
        <input type="text" id="reckoning.status" name="reckoning.status" class="form-control" required minlength="3" [(ngModel)]="reckoning.status" #status="ngModel">
        <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert">
            <div *ngIf="status.errors?.required">
                Status is required.
            </div>
            <div *ngIf="status.errors?.minlength">
                Status must be at least 3 characters long.
            </div>
        </div>
    </div>
</div>

<div>
    <div class="block">
        <label>Comment:</label>
        <input type="text" id="reckoning.comment" name="reckoning.comment" class="form-control" [(ngModel)]="reckoning.comment" #comment="ngModel">
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="block">
            <label>Person issuer:</label>
            <input type="text" id="reckoning.person_issuer" name="reckoning.person_issuer" class="form-control" required [(ngModel)]="reckoning.person_issuer" #person_issuer="ngModel">
            <div *ngIf="person_issuer.invalid && (person_issuer.dirty || person_issuer.touched)" class="alert">
                <div *ngIf="person_issuer.errors?.required">
                    Person issuer is required.
                </div>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="block">
            <label>Person buyer:</label>
            <input type="text" id="reckoning.person_buyer" name="reckoning.person_buyer" class="form-control" required [(ngModel)]="reckoning.person_buyer" #person_buyer="ngModel">
            <div *ngIf="person_buyer.invalid && (person_buyer.dirty || person_buyer.touched)" class="alert">
                <div *ngIf="person_buyer.errors?.required">
                    Person buyer is required.
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <button (click)="createReckoning()">Submit</button>
</div>
