<h3>Reckoning details</h3>
<div>
    <label>Number:</label>
    {{reckoning.number}}
</div>

<div class="row">
    <div class="column">
        <h3> Buyer data:</h3>
        <div class="block">
            <label>Name:</label>
            {{buyer.name}}       
        </div>
        <div class="block">
            <label>Address:</label>
            {{buyer.address}}       
        </div>
        <div class="block">
            <label>UUID:</label>
            {{buyer.uuid}}     
        </div>
    </div>

    <div class="column">
        <h3> Seller data:</h3>
        <div class="block">
            <label>Name:</label>
            {{seller.name}}   
        </div>
        <div class="block">
            <label>Address:</label>
            {{seller.address}}   
        </div>
    </div>
</div>

<div class="block">
    <div class="block">
        <label>Place of sale:</label>
        {{reckoning.place_of_sale}} 
    </div>
    <div class="block">
        <label>Date of issue:</label>
        {{reckoning.date_of_issue}} 
    </div>
    <div class="block">
        <label>Date od payment:</label>
        {{reckoning.date_of_payment}} 
    </div>
    <div class="block">
        <label>Date sale:</label>
        {{reckoning.date_sale}} 
    </div>
    <div class="block">
        <label>Status:</label>
        {{reckoning.status}} 
    </div>
</div>

<div>
    <div class="block">
        <label>Comment:</label>
        {{reckoning.comment}} 
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="block">
            <label>Person issuer:</label>
            {{reckoning.person_issuer}} 
        </div>
    </div>

    <div class="column">
        <div class="block">
            <label>Person buyer:</label>
            {{reckoning.person_buyer}}       
        </div>
    </div>
</div>

<div>
      <a href="#" class="badge" [routerLink]="['/reckonings/list']">
        Return
      </a>
</div>
