<h3>Reckonings list</h3>

<div *ngIf="isSeller">
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let reckoning of reckonings; let i = index"
      [class.active]="i == currentIndex"
    >
      <b> Number:</b> {{reckoning.number}} 
      <b> Buyer:</b> {{reckoning.buyer}}     
      <b> Sale date:</b> {{reckoning.date_sale}} 
      <b> Status:</b> {{reckoning.status}} 
      <a href="#" class="badge badge-warning" [routerLink]="['/reckonings/show/', reckoning.number]">
        Show
      </a>
      <a href="#" class="badge badge-warning" [routerLink]="['/reckonings/update/', reckoning.number]">
        Edit
      </a>
      <a class="badge badge-warning" (click)="deleteReckoning(reckoning.number!)">
        Delete
      </a>
    </li>
    </ul>
</div>

<div *ngIf="isClient">
  <ul class="list-group">
  
    <li
      class="list-group-item"
      *ngFor="let reckoning of reckonings; let i = index"
      [class.active]="i == currentIndex"
    >
      <b>Number:</b> {{reckoning.number}} 
      <b>Seller:</b> {{reckoning.seller}}   
      <b>Sale date:</b> {{reckoning.date_sale}} 
      <b>Status:</b> {{reckoning.status}} 
      <a class="badge badge-warning" routerLink="/reckonings/show">
        Show
      </a>
    </li>
  </ul>
</div>
