<div class="container">
    <div id="div1">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/images/img.png" class="card-img" alt="img1">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Korzyść 1 dla klienta</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic at natus ea tenetur ipsam illo ex vero magnam impedit beatae officia similique, consectetur doloribus.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Korzyść 2 dla klienta</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic at natus ea tenetur ipsam illo ex vero magnam impedit beatae officia similique, consectetur doloribus.</p>
            </div>
          </div>
          <div class="col-md-4">
              <img src="assets/images/img.png" class="card-img" alt="img1">
            </div>
        </div>
      </div> 
    </div>
    <div id="div2">
        <app-login></app-login>
    </div>
  </div>