<div>
<h3>Hello {{ currenUser.name }}!</h3>

<p> Your address is {{currenUser.address}}</p>

<p> Your role is {{role}}</p>

<button (click)="editUser()">Edit</button>

<div *ngIf="isEdited">
    <label>New name:</label>
    <input type="text" id="newUser.name" name="newUser.name" class="form-control" required minlength="10" required maxlength="10" [(ngModel)]="newUser.name" #name="ngModel">
    
    <label>New address:</label>
    <input type="text" id="newUser.address" name="newUser.address" class="form-control" required minlength="10" required maxlength="10" [(ngModel)]="newUser.address" #name="ngModel">

    <button (click)="updateUser()">Update data</button>
</div>

<div *ngIf="isClient">
    <label>Seller code:</label>
    <input type="text" id="sellerCode" name="sellerCode" class="form-control" required minlength="10" required maxlength="10" [(ngModel)]="sellerCode" #name="ngModel">
    <button (click)="connectToSeller()">Connect with Seller</button>
</div>
<br>
<br>

<div *ngIf="isSeller"> 
<button (click)="showClientsList()">Show clients list</button>

<div *ngIf="isClientsList">
    <label>Clients list:</label>
    <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let client of clients"
        >
          <b> Name:</b> {{client.name}} 
          <b> Address:</b> {{client.address}}     
          <b> UUID:</b> {{client.uuid}} 
        </li>
        </ul>
</div>

<div *ngIf="isZeroClients">
  <label>No connected clients</label>
</div>

</div>